<h1 class="text-3xl font-bold mb-4">Alphabetized Customers</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  <%= render @customers %>
</div>

<div class="mt-4">
  <%= link_to 'Customers with Missing Email', missing_email_customers_path, class: "text-blue-500 hover:underline mr-4" %>
  <%= link_to 'All Customers', customers_path, class: "text-blue-500 hover:underline" %>
</div>